.custom-search-button-2 {
    padding-top: 3px;
    height: 40px;
    color: white;
    background-color: #00b2ff;
}
.custom-search-button-2:hover  , .custom-search-button-2:visited , .btn-primary:active{
    color: white;
    background-color: #0098da;
}
.custom-search-button-2:active{
    color: white;
    background-color: #003366;
}
.err{
    color: red;
}