.conatiner_costume_1{
    width: 100%; 
}
table {
    border-collapse: collapse;
    width: 100% !important;
    border: 2px solid black;
}
th {
    background-color: #f2f2f2;
}
th, td {
    text-align: left;
    padding: 8px;
} 
tr:nth-child(even) { 
    background-color: #f2f2f2;
}
.hidden-table {
    display: none;

}
.custom-search-button-2 {
    height: 20px;
}
.form-inline{
    margin-left: 24vw;
    margin-right: 22vw;
    width: 440px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: rgba(0,255,255, 0.3);
}
a, a:hover, a:active, a:focus{
    text-decoration: none;
}
@media screen and (max-width: 1500px) {
    .container_costume_1 {
        margin-left: 0; 
        margin-right: 0; 
        width: 100% !important; 
        padding: 0;
    }
    #search_bar1 {
        margin: 0;
    }
    #inp1,
    #search_btn1 {
        display: inline-block;
        vertical-align: top; 
        margin-bottom: 0 !important; 
    }
    #search_btn1 {
        margin: 0px !important;
    }
    #search_bar2 {
        margin: 0;
    }
    #inp2,
    #search_btn2 {
        display: inline-block;
        vertical-align: top; 
        margin-bottom: 0 !important; 
    }
    #search_btn2 {
        margin: 0px !important;
    }

}
        

        